/* styles.css */
body {
    background: #fff0db;
    margin: 0;
}

button {
    margin: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 360px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black; /* Add this line for board lines */
}

.board div {
    width: 20px;
    height: 20px;
    border: 1px solid black; /* Add this line for cell borders */
    background: rgb(255, 180, 76);
}

.board2 {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 380px;
    position: absolute;
    top: 9px;
    left: 9px;
}

.board2 div {
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    background: rgb(255, 180, 76, 0.2);
}

.board2 div.b {
    background: black;
    border-radius: 50%;
}

.board2 div.w {
    background: white;
    border-radius: 50%;
}
